{% extends 'AppBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Compare repositories - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Compare repositories in Gitdub</h1>

    <section>
        <div>
            <h2>Fill form:</h2>
            {{ form_start(form, {attr: {class: 'form-inline'}}) }}
                {{ form_row(form.repositoryName, {attr: {placeholder: 'phalcon/cphalcon'}, label_attr: {class: 'sr-only'}}) }}
                <strong>VS</strong>
                {{ form_row(form.repositoryNameSecond, {attr: {placeholder: 'laravel/laravel'}, label_attr: {class: 'sr-only'}}) }}
                <button class="btn btn-primary">Compare</button>
            {{ form_end(form) }}
        </div>
        {% if compareRepositoryStatistics %}
            <div>
                <h3>
                    Compare
                    {% for repo in compareRepositoryStatistics %}
                        {{ repo.name }}
                        {% if not loop.last %}vs{% endif %}
                    {% endfor %}
                </h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td></td>
                            {% for repo in compareRepositoryStatistics %}
                            <th>
                                {{ repo.name }}
                            </th>
                            {% endfor %}

                        </tr>
                        <tr>
                            <td>
                                forks
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.forksCount }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                stars
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.starsCount }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                watchers
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.watchersCount }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                last update
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.lastUpdate|date('Y.m.d H:i') }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                latest release
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.lastRelease ? repo.lastRelease|date('Y.m.d H:i') : '-' }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                open pull requests
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.openPullRequestsCount }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                closed pull requests
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.closedPullRequestsCount }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                last merged pull request
                            </td>
                            {% for repo in compareRepositoryStatistics %}
                                <td>
                                    {{ repo.lastMergedPullRequest ? repo.lastMergedPullRequest|date('Y.m.d H:i') : '-' }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
